@model IEnumerable<Concerti.Website.Areas.Admin.Models.Alert>

@foreach (var alert in Model)
{
	<div class="alert alert--@alert.AlertType">
		@alert.Message
		@if (alert.Dismissable)
		{
			<div class="alert__dismiss"><span class="alert__dismiss-icon fa fa-fw fa-close"></span></div>
		}
	</div>
}
